In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from pathlib import Path

## Import Data and Create Tables

In [2]:
positionPath = Path.cwd() / 'positions.csv'
positions = pd.read_csv(positionPath, header=None)
positions.columns = ['position', 'offenseDefense']
positions.head()

  position offenseDefense
0       QB        offense
1       LB        defense
2       DB        defense
3       WR        offense
4       CB        defense

In [3]:
rostersPath = Path.cwd() / 'rosters.csv'
rosters = pd.read_csv(rostersPath, header=0)
rosters.columns = ['teamName', 'playerName', 'year', 'salary']
rosters.head()

  teamName       playerName  year    salary
0      NOR       Drew Brees  2015  26400000
1      SDG    Philip Rivers  2015  21166668
2      DET   Calvin Johnson  2015  20558000
3      CAR  Charles Johnson  2015  20020000
4      ATL        Matt Ryan  2015  19500000

## Create Database

In [4]:
# engine = create_engine('sqlite:///nflDB.db', echo=False)

URI = "postgres://weuuagdlggxjtq:1f34a0c24e47802f4d2b4b678f9e53a4b5e208443fecc3949feea1ef4d89c1e6@ec2-52-22-238-188.compute-1.amazonaws.com:5432/d3vt64hc10bvbv"

engine = create_engine(URI)

teams_script = '''
CREATE TABLE "teams" (
  "teamName" varchar,
  "teamAbbrv" varchar PRIMARY KEY,
  "teamState" varchar,
  "teamCity" varchar
);
'''

players_script = '''
CREATE TABLE "players" (
  "playerName" varchar PRIMARY KEY,
  "position" varchar
);
'''

rosters_script = '''
CREATE TABLE "rosters" (
  "teamName" varchar PRIMARY KEY,
  "playerName" varchar,
  "year" int,
  "salary" int
);
'''

position_script = '''
CREATE TABLE "positions" (
  "position" varchar PRIMARY KEY,
  "offenseDefense" varchar
)
'''

tables = {'teams' : teams_script.strip(),
         'players': players_script.strip(),
         'rosters' : rosters_script.strip(),
         'positions' : position_script.strip()}

for table in tables.keys():
    print(f'dropping the table {table} if it already exists...')
    engine.execute(f'drop table IF EXISTS {table}')
for table , script in tables.items():
    print(f'creating the table {table}...')
    engine.execute(f'{script}')
engine.table_names()

In [5]:
try:
    positions.to_sql(name='positions', con=engine, if_exists='append', index=False)
except:
    print("Data is already in there...")

In [ ]:
try:
    rosters.to_sql(name='rosters', con=engine, if_exists='append', index=False)
except:
    print("Data is already in there...")