In [36]:
import pandas as pd
from pathlib import Path
import numpy as np
from bs4 import BeautifulSoup
import requests

# Summary 
This file scrapes player salary data from pro-football-reference.com using the current webpage and saves from the previous 5 years on web.archive.

It also scrapes fantasy data for those years, but this information was excluded from the project as extraneous as we found a separate json dataset that had all NFL players (all-time).

## 2020 Player Salary Data - Pro Football Reference

In [26]:
url = 'https://www.pro-football-reference.com/players/salary.htm'
df2020 = pd.read_html(url)[0]
writepath = Path.cwd() / 'Old' / 'salaryData2020.csv'
df2020['year'] = '2020'
df2020.rename(columns = {'Salary':'Cap Hit'}, inplace=True)
df2020.drop(['Rk'], axis=1, inplace=True)
df2020.to_csv (writepath, index = False, header=True)
df2020.head()

            Player Pos   Tm      Cap Hit  year
0     Dak Prescott  QB  DAL  $31,409,000  2020
1  Jimmy Garoppolo  QB  SFO  $23,800,000  2020
2      Trent Brown  OT  LVR  $21,250,000  2020
3       Derek Carr  QB  LVR  $18,900,000  2020
4   Russell Wilson  QB  SEA  $18,000,000  2020

## 2019 Player Salary Data - Pro Football Reference

In [27]:
url = 'https://web.archive.org/web/20200330082855/https://www.pro-football-reference.com/players/salary.htm'
df2019 = pd.read_html(url)[2]
writepath = Path.cwd() / 'Old' / 'salaryData2019.csv'
df2019['year'] = '2019'
df2019.rename(columns = {'Salary':'Cap Hit'}, inplace=True)
df2019.drop(['Rk'], axis=1, inplace=True)
df2019.to_csv (writepath, index = False, header=True)
df2019.head()

           Player Pos   Tm      Cap Hit  year
0    Kirk Cousins  QB  MIN  $27,500,000  2019
1  Marcus Mariota  QB  TEN  $20,922,000  2019
2  Jameis Winston  QB  TAM  $20,922,000  2019
3      Derek Carr  QB  OAK  $19,900,000  2019
4      Joe Flacco  QB  DEN  $18,500,000  2019

## 2018 Player Salary Data - Pro Football Reference

In [28]:
url = 'https://web.archive.org/web/20190201121914/https://www.pro-football-reference.com/players/salary.htm'
df2018 = pd.read_html(url)[2]
writepath = Path.cwd() / 'Old' / 'salaryData2018.csv'
df2018['year'] = '2018'
df2018.rename(columns = {'Salary':'Cap Hit'}, inplace=True)
df2018.drop(['Rk'], axis=1, inplace=True)
df2018.to_csv (writepath, index = False, header=True)
df2018.head()

              Player Pos   Tm      Cap Hit  year
0       Kirk Cousins  QB  MIN  $22,500,000  2018
1  Demarcus Lawrence  DE  DAL  $17,143,000  2018
2      Ezekiel Ansah  DE  DET  $17,143,000  2018
3     Russell Wilson  QB  SEA  $15,500,000  2018
4    Calais Campbell  DE  JAX  $15,000,000  2018

## 2017 Player Salary Data - Pro Football Reference

In [29]:
url = 'https://web.archive.org/web/20180720053649/https://www.pro-football-reference.com/players/salary.htm'
df2017 = pd.read_html(url)[2]
writepath = Path.cwd() / 'Old' / 'salaryData2017.csv'
df2017['year'] = '2017'
df2017.drop(['Rk'], axis=1, inplace=True)
df2017.to_csv (writepath, index = False, header=True)
df2017.head()

             Player Pos   Tm      Cap Hit  year
0      Kirk Cousins  QB  WAS  $23,943,600  2017
1  Trumaine Johnson  CB  LAR  $16,742,400  2017
2        Von Miller  LB  DEN  $16,500,000  2017
3       Josh Norman  CB  WAS  $16,500,000  2017
4    Justin Houston  LB  KAN  $16,350,000  2017

## 2016 Player Salary Data - Pro Football Reference

In [30]:
url = 'https://web.archive.org/web/20170120204404/https://www.pro-football-reference.com/players/salary.htm'
df2016 = pd.read_html(url)[2]
writepath = Path.cwd() / 'Old' / 'salaryData2016.csv'
df2016['year'] = '2016'
df2016.drop(['Rk'], axis=1, inplace=True)
df2016.to_csv (writepath, index = False, header=True)
df2016.head()

               Player Pos   Tm      Cap Hit  year
0  Ben Roethlisberger  QB  PIT  $23,950,000  2016
1           Matt Ryan  QB  ATL  $23,750,000  2016
2          Joe Flacco  QB  BAL  $22,550,000  2016
3        Kirk Cousins  QB  WAS  $19,953,000  2016
4          Cam Newton  QB  CAR  $19,500,000  2016

## 2015 Player Salary Data - Pro Football Reference

In [31]:
url = 'https://web.archive.org/web/20160226102012/https://www.pro-football-reference.com/players/salary.htm'
df2015 = pd.read_html(url)[2]
writepath = Path.cwd() / 'Old' / 'salaryData2015.csv'
df2015['year'] = '2015'
df2015.rename(columns={"Unnamed: 1": "Player"}, inplace=True)
df2015.insert(2,"Pos",np.nan)
df2015.drop(['Rk'], axis=1, inplace=True)
df2015.to_csv (writepath, index = False, header=True)
df2015.head()

            Player  Pos   Tm      Cap Hit  year
0       Drew Brees  NaN  NOR  $26,400,000  2015
1    Philip Rivers  NaN  SDG  $21,166,668  2015
2   Calvin Johnson  NaN  DET  $20,558,000  2015
3  Charles Johnson  NaN  CAR  $20,020,000  2015
4        Matt Ryan  NaN  ATL  $19,500,000  2015

In [33]:
df_total = df2015.append(df2016.append(df2017.append(df2018.append(df2019.append(df2020)))))
writepath = Path.cwd() / 'salaryData.csv'
df_total.to_csv(writepath, index = False, header = True)
df_total

               Player  Pos   Tm      Cap Hit  year
0          Drew Brees  NaN  NOR  $26,400,000  2015
1       Philip Rivers  NaN  SDG  $21,166,668  2015
2      Calvin Johnson  NaN  DET  $20,558,000  2015
3     Charles Johnson  NaN  CAR  $20,020,000  2015
4           Matt Ryan  NaN  ATL  $19,500,000  2015
...               ...  ...  ...          ...   ...
1929       Geno Stone    S  BAL     $109,200  2020
1930       Will Clapp    C  NOR     $109,200  2020
1931     Corey Liuget   DT  HOU      $96,000  2020
1932     Matt Overton   LS  TEN      $96,000  2020
1933    Trevor Daniel    P  TEN      $75,600  2020

[11615 rows x 5 columns]

## SuperBowl Results Scraping

In [34]:
SB_Results = pd.read_html('https://en.wikipedia.org/wiki/List_of_Super_Bowl_champions')[1]
SB_Results

,Game,Date/Season,Winning team,Score,Losing team,Venue,City,Attendance,Ref
0,I[sb 1],"January 15, 1967 (1966 AFL/1966 NFL)","Green Bay Packersn(1, 1–0)",35–10,"Kansas City Chiefsa(1, 0–1)",Los Angeles Memorial Coliseum,"Los Angeles, California[sb 2]",61946,[7][8]
1,II[sb 1],"January 14, 1968 (1967 AFL/1967 NFL)","Green Bay Packersn(2, 2–0)",33–14,"Oakland Raidersa(1, 0–1)",Miami Orange Bowl,"Miami, Florida[sb 3]",75546,[9][8]
2,III[sb 1],"January 12, 1969 (1968 AFL/1968 NFL)","New York Jetsa(1, 1–0)",16–7,"Baltimore Coltsn(1, 0–1)",Miami Orange Bowl (2),"Miami, Florida (2)[sb 3]",75389,[10][8]
3,IV[sb 1],"January 11, 1970 (1969 AFL/1969 NFL)","Kansas City Chiefsa(2, 1–1)",23–7,"Minnesota Vikingsn(1, 0–1)",Tulane Stadium,"New Orleans, Louisiana",80562,[11][8]
4,V,"January 17, 1971 (1970)","Baltimore ColtsA(2, 1–1)",16–13,"Dallas CowboysN(1, 0–1)",Miami Orange Bowl (3),"Miami, Florida (3)[sb 3]",79204,[12][8]
5,VI,"January 16, 1972 (1971)","Dallas CowboysN(2, 1–1)",24–3,"Miami DolphinsA(1, 0–1)",Tulane Stadium (2),"New Orleans, Louisiana (2)",81023,[13][8]
6,VII,"January 14, 1973 (1972)","Miami DolphinsA(2, 1–1)",14–7,"Washington RedskinsN(1, 0–1)",Los Angeles Memorial Coliseum (2),"Los Angeles, California (2)[sb 2]",90182,[14][8]
7,VIII,"January 13, 1974 (1973)","Miami DolphinsA(3, 2–1)",24–7,"Minnesota VikingsN(2, 0–2)",Rice Stadium[sb 4],"Houston, Texas",71882,[15][8]
8,IX,"January 12, 1975 (1974)","Pittsburgh SteelersA(1, 1–0)",16–6,"Minnesota VikingsN(3, 0–3)",Tulane Stadium (3),"New Orleans, Louisiana (3)",80997,[16][8]
9,X,"January 18, 1976 (1975)","Pittsburgh SteelersA(2, 2–0)",21–17,"Dallas CowboysN(3, 1–2)",Miami Orange Bowl (4),"Miami, Florida (4)[sb 3]",80187,[17][8]
10,XI,"January 9, 1977 (1976)","Oakland RaidersA(2, 1–1)",32–14,"Minnesota VikingsN(4, 0–4)",Rose Bowl[sb 5],"Pasadena, California (3)[sb 2]",103438,[18][8]
11,XII,"January 15, 1978 (1977)","Dallas CowboysN(4, 2–2)",27–10,"Denver BroncosA(1, 0–1)",Louisiana Superdome[sb 6],"New Orleans, Louisiana (4)",76400,[20][8]
12,XIII,"January 21, 1979 (1978)","Pittsburgh SteelersA(3, 3–0)",35–31,"Dallas CowboysN(5, 2–3)",Miami Orange Bowl (5),"Miami, Florida (5)[sb 3]",79484,[21][8]
13,XIV,"January 20, 1980 (1979)","Pittsburgh SteelersA(4, 4–0)",31–19,"Los Angeles RamsN(1, 0–1)",Rose Bowl (2)[sb 5][sb 7],"Pasadena, California (4)[sb 2]",103985,[22][8]
14,XV,"January 25, 1981 (1980)","Oakland RaidersA(3, 2–1)",27–10,"Philadelphia EaglesN(1, 0–1)",Louisiana Superdome (2)[sb 6],"New Orleans, Louisiana (5)",76135,[23][8]
15,XVI,"January 24, 1982 (1981)","San Francisco 49ersN(1, 1–0)",26–21,"Cincinnati BengalsA(1, 0–1)",Pontiac Silverdome,"Pontiac, Michigan[sb 8]",81270,[25][8]
16,XVII,"January 30, 1983 (1982)","Washington RedskinsN(2, 1–1)",27–17,"Miami DolphinsA(4, 2–2)",Rose Bowl (3)[sb 5],"Pasadena, California (5)[sb 2]",103667,[26][8]
17,XVIII,"January 22, 1984 (1983)","Los Angeles RaidersA(4, 3–1)",38–9,"Washington RedskinsN(3, 1–2)",Tampa Stadium,"Tampa, Florida",72920,[27][8]
18,XIX,"January 20, 1985 (1984)","San Francisco 49ersN(2, 2–0)",38–16,"Miami DolphinsA(5, 2–3)",Stanford Stadium[sb 9],"Stanford, California[sb 10]",84059,[29][8]
19,XX,"January 26, 1986 (1985)","Chicago BearsN(1, 1–0)",46–10,"New England PatriotsA(1, 0–1)",Louisiana Superdome (3)[sb 6],"New Orleans, Louisiana (6)",73818,[30][8]
20,XXI,"January 25, 1987 (1986)","New York GiantsN(1, 1–0)",39–20,"Denver BroncosA(2, 0–2)",Rose Bowl (4)[sb 5],"Pasadena, California (6)[sb 2]",101063,[31][8]
21,XXII,"January 31, 1988 (1987)","Washington RedskinsN(4, 2–2)",42–10,"Denver BroncosA(3, 0–3)",San Diego–Jack Murphy Stadium[sb 11],"San Diego, California",73302,[32][8]
22,XXIII,"January 22, 1989 (1988)","San Francisco 49ersN(3, 3–0)",20–16,"Cincinnati BengalsA(2, 0–2)",Joe Robbie Stadium[sb 12],"Miami, Florida (6)[sb 3]",75129,[33][8]
23,XXIV,"January 28, 1990 (1989)","San Francisco 49ersN(4, 4–0)",55–10,"Denver BroncosA(4, 0–4)",Louisiana Superdome (4)[sb 6],"New Orleans, Louisiana (7)",72919,[34][8]
24,XXV,"January 27, 1991 (1990)","New York GiantsN(2, 2–0)",20–19,"Buffalo BillsA(1, 0–1)",Tampa Stadium (2),"Tampa, Florida (2)",73813,[35][8]
25,XXVI,"January 26, 1992 (1991)","Washington RedskinsN(5, 3–2)",37–24,"Buffalo BillsA(2, 0–2)",Metrodome,"Minneapolis, Minnesota",63130,[36][8]
26,XXVII,"January 31, 1993 (1992)","Dallas CowboysN(6, 3–3)",52–17,"Buffalo BillsA(3, 0–3)",Rose Bowl (5)[sb 5],"Pasadena, California (7)[sb 2]",98374,[37][8]
27,XXVIII,"January 30, 1994 (1993)","Dallas CowboysN(7, 4–3)",30–13,"Buffalo BillsA(4, 0–4)",Georgia Dome,"Atlanta, Georgia",72817,[38][8]
28,XXIX,"January 29, 1995 (1994)","San Francisco 49ersN(5, 5–0)",49–26,"San Diego ChargersA(1, 0–1)",Joe Robbie Stadium (2)[sb 12],"Miami, Florida (7)[sb 3]",74107,[39][8]
29,XXX,"January 28, 1996 (1995)","Dallas CowboysN(8, 5–3)",27–17,"Pittsburgh SteelersA(5, 4–1)",Sun Devil Stadium,"Tempe, Arizona[sb 13]",76347,[42][8]
30,XXXI,"January 26, 1997 (1996)","Green Bay PackersN(3, 3–0)",35–21,"New England PatriotsA(2, 0–2)",Louisiana Superdome (5)[sb 6],"New Orleans, Louisiana (8)",72301,[43][8]
31,XXXII,"January 25, 1998 (1997)","Denver BroncosA(5, 1–4)",31–24,"Green Bay PackersN(4, 3–1)",Qualcomm Stadium (2)[sb 11],"San Diego, California (2)",68912,[44][8]
32,XXXIII,"January 31, 1999 (1998)","Denver BroncosA(6, 2–4)",34–19,"Atlanta FalconsN(1, 0–1)",Pro Player Stadium (3)[sb 12],"Miami, Florida (8)[sb 3]",74803,[45][8]
33,XXXIV,"January 30, 2000 (1999)","St. Louis RamsN(2, 1–1)",23–16,"Tennessee TitansA(1, 0–1)",Georgia Dome (2),"Atlanta, Georgia (2)",72625,[46][8]
34,XXXV,"January 28, 2001 (2000)","Baltimore RavensA(1, 1–0)",34–7,"New York GiantsN(3, 2–1)",Raymond James Stadium,"Tampa, Florida (3)",71921,[47][8]
35,XXXVI,"February 3, 2002 (2001)","New England PatriotsA(3, 1–2)",20–17,"St. Louis RamsN(3, 1–2)",Louisiana Superdome (6)[sb 6],"New Orleans, Louisiana (9)",72922,[48][8]
36,XXXVII,"January 26, 2003 (2002)","Tampa Bay BuccaneersN(1, 1–0)",48–21,"Oakland RaidersA(5, 3–2)",Qualcomm Stadium (3)[sb 11],"San Diego, California (3)",67603,[49][8]
37,XXXVIII,"February 1, 2004 (2003)","New England PatriotsA(4, 2–2)",32–29,"Carolina PanthersN(1, 0–1)",Reliant Stadium[sb 14],"Houston, Texas (2)",71525,[50][8]
38,XXXIX,"February 6, 2005 (2004)","New England PatriotsA(5, 3–2)",24–21,"Philadelphia EaglesN(2, 0–2)",Alltel Stadium,"Jacksonville, Florida",78125,[51][8]
39,XL,"February 5, 2006 (2005)","Pittsburgh SteelersA(6, 5–1)",21–10,"Seattle SeahawksN(1, 0–1)",Ford Field,"Detroit, Michigan (2)[sb 8]",68206,[52][8]
40,XLI,"February 4, 2007 (2006)","Indianapolis ColtsA(3, 2–1)",29–17,"Chicago BearsN(2, 1–1)",Dolphin Stadium (4)[sb 12],"Miami Gardens, Florida (9)[sb 3]",74512,[53][8]
41,XLII,"February 3, 2008 (2007)","New York GiantsN(4, 3–1)",17–14,"New England PatriotsA(6, 3–3)",University of Phoenix Stadium[sb 15],"Glendale, Arizona (2)[sb 13]",71101,[54][8]
42,XLIII,"February 1, 2009 (2008)","Pittsburgh SteelersA(7, 6–1)",27–23,"Arizona CardinalsN(1, 0–1)",Raymond James Stadium (2),"Tampa, Florida (4)",70774,[55][8]
43,XLIV,"February 7, 2010 (2009)","New Orleans SaintsN(1, 1–0)",31–17,"Indianapolis ColtsA(4, 2–2)",Sun Life Stadium (5)[sb 12],"Miami Gardens, Florida (10)[sb 3]",74059,[56][8]
44,XLV,"February 6, 2011 (2010)","Green Bay PackersN(5, 4–1)",31–25,"Pittsburgh SteelersA(8, 6–2)",Cowboys Stadium,"Arlington, Texas",103219,[57][58][8]
45,XLVI,"February 5, 2012 (2011)","New York GiantsN(5, 4–1)",21–17,"New England PatriotsA(7, 3–4)",Lucas Oil Stadium,"Indianapolis, Indiana",68658,[59][8][60][61]
46,XLVII,"February 3, 2013 (2012)","Baltimore RavensA(2, 2–0)",34–31,"San Francisco 49ersN(6, 5–1)",Mercedes-Benz Superdome (7)[sb 6],"New Orleans, Louisiana (10)",71024,[62][8][60][63]
47,XLVIII,"February 2, 2014 (2013)","Seattle SeahawksN(2, 1–1)",43–8,"Denver BroncosA(7, 2–5)",MetLife Stadium,"East Rutherford, New Jersey",82529,[64][8][65]
48,XLIX,"February 1, 2015 (2014)","New England PatriotsA(8, 4–4)",28–24,"Seattle SeahawksN(3, 1–2)",University of Phoenix Stadium (2)[sb 15],"Glendale, Arizona (3)[sb 13]",70288,[66][8][67][68]
49,50[sb 16],"February 7, 2016 (2015)","Denver BroncosA(8, 3–5)",24–10,"Carolina PanthersN(2, 0–2)",Levi's Stadium,"Santa Clara, California (2)[sb 10]",71088,[69][68][70][71]
50,LI,"February 5, 2017 (2016)","New England PatriotsA(9, 5–4)",34–28 (OT),"Atlanta FalconsN(2, 0–2)",NRG Stadium (2)[sb 14],"Houston, Texas (3)",70807,[72][68][70][71]
51,LII,"February 4, 2018 (2017)","Philadelphia EaglesN(3, 1–2)",41–33,"New England PatriotsA(10, 5–5)",U.S. Bank Stadium,"Minneapolis, Minnesota (2)",67612,[73][74][75][76][77]
52,LIII,"February 3, 2019 (2018)","New England PatriotsA(11, 6–5)",13–3,"Los Angeles RamsN(4, 1–3)",Mercedes-Benz Stadium,"Atlanta, Georgia (3)",70081,[78][79][80]
53,LIV,"February 2, 2020 (2019)","Kansas City ChiefsA(3, 2–1)",31–20,"San Francisco 49ersN(7, 5–2)",Hard Rock Stadium (6)[sb 12],"Miami Gardens, Florida (11)[sb 3]",62417,[79][80]
54,LV,"February 7, 2021 (2020)[sb 17]",Kansas City ChiefsA atTampa Bay BuccaneersN,—,To be determined,Raymond James Stadium (3),"Tampa, Florida (5)",TBD,[79][80]
55,LVI,"February 6, 2022 (2021)[sb 17]",2021–22 NFC championN at2021–22 AFC championA,—,To be determined,SoFi Stadium,"Inglewood, California (8)[sb 2]",TBD,[79][80]
56,LVII,"February 5, 2023 (2022)[sb 17]",2022–23 AFC championA at2022–23 NFC championN,—,To be determined,State Farm Stadium (3)[sb 15],"Glendale, Arizona (4)[sb 13]",TBD,[81]
57,LVIII,"February 11, 2024 (2023)[sb 17]",2023–24 NFC championN at2023–24 AFC championA,—,To be determined,To be determined,To be determined,TBD,[82]
58,LIX,"February 9, 2025 (2024)[sb 17]",2024–25 AFC championA at2024–25 NFC championN,—,To be determined,Mercedes-Benz Superdome (8)[sb 6],"New Orleans, Louisiana (11)",TBD,[82]
59,Game,Date/Season,Winning team,Score,Losing team,Venue,City,Attendance,Ref

In [ ]:
# SB_Results.to_csv("./Outputs/sb_results_wiki.csv")

## Nielsen Rating Scraping

In [38]:
url = "https://www.sportsmediawatch.com/super-bowl-ratings-historical-viewership-chart-cbs-nbc-fox-abc/"
response = requests.get(url)
tables = pd.read_html(url, header=[0,1])
df = tables[0]
# df.to_csv("rating_data.csv")
df

    Year             Game      Margin  Net Overall                             \
    Year             Game      Margin  Net     Rtg  TV Vwrs   Strm Spnsh  OOH
0   2020            KC-SF      KC +11  FOX    41.6  100.45M   3.4M  757K  13M
1   2019           NE-LAR      NE +10  CBS    41.1   98.19M   2.6M  473K  12M
2   2018           PHI-NE      PHI +8  NBC    43.1  103.39M  2.02M  543K  12M
3   2017           NE-ATL  NE +6 (OT)  FOX    45.3  111.32M  1.72M  650K    —
4   2016          DEN-CAR     DEN +14  CBS    46.6  111.86M  1.40M  472K    —
5   2015           NE-SEA       NE +4  NBC    47.5  114.44M   973K  368K    —
6   2014          SEA-DEN     SEA +35  FOX    46.7  112.19M   531K  561K    —
7   2013           BAL-SF      BAL +3  CBS    46.4  108.69M   508K     —    —
8   2012           NYG-NE      NYG +4  NBC    47.0  111.35M   346K     —    —
9   2011           GB-PIT       GB +6  FOX    46.0  111.01M      —     —    —
10  2010           NO-IND      NO +14  CBS    45.0  106.48M      —     —    —
11  2009         PIT-ARIZ      PIT +4  NBC    42.0   98.73M      —     —    —
12  2008           NYG-NE      NYG +3  FOX    43.1   97.45M      —     —    —
13  2007          IND-CHI     IND +12  CBS    42.6   93.18M      —     —    —
14  2006          PIT-SEA     PIT +11  ABC    41.6   90.75M      —     —    —
15  2005           NE-PHI       NE +3  FOX    41.1   86.07M      —     —    —
16  2004           NE-CAR       NE +3  CBS    41.4   89.80M      —     —    —
17  2003           TB-OAK      TB +27  ABC    40.7   88.64M      —     —    —
18  2002           NE-STL       NE +3  FOX    40.4   86.80M      —     —    —
19  2001          BAL-NYG     BAL +27  CBS    40.4   84.34M      —     —    —
20  2000          STL-TEN      STL +7  ABC    43.3   88.47M      —     —    —
21  1999          DEN-ATL     DEN +15  FOX    40.2   83.72M      —     —    —
22  1998           DEN-GB      DEN +7  NBC    44.5   90.00M      —     —    —
23  1997            GB-NE      GB +14  FOX    43.3   87.87M      —     —    —
24  1996          DAL-PIT     DAL +10  NBC    46.0   94.08M      —     —    —
25  1995            SF-SD      SF +23  ABC    41.3   83.42M      —     —    —
26  1994          DAL-BUF     DAL +17  NBC    45.5   90.00M      —     —    —
27  1993          DAL-BUF     DAL +35  NBC    45.1   90.99M      —     —    —
28  1992          WSH-BUF     WSH +13  CBS    40.3   79.59M      —     —    —
29  1991          NYG-BUF      NYG +1  ABC    41.9   79.51M      —     —    —
30  1990           SF-DEN      SF +45  CBS    39.0   73.85M      —     —    —
31  1989           SF-CIN       SF +4  NBC    43.5   81.59M      —     —    —
32  1988          WSH-DEN     WSH +32  ABC    41.9   80.14M      —     —    —
33  1987          NYG-DEN     NYG +19  CBS    45.8   87.19M      —     —    —
34  1986           CHI-NE     CHI +36  NBC    48.3   92.57M      —     —    —
35  1985           SF-MIA      SF +22  ABC    46.4   85.53M      —     —    —
36  1984   LA Raiders-WSH      LA +29  CBS    46.4   77.62M      —     —    —
37  1983          WSH-MIA     WSH +10  NBC    48.6   81.77M      —     —    —
38  1982           SF-CIN       SF +5  CBS    49.1   85.24M      —     —    —
39  1981          OAK-PHI     OAK +17  NBC    44.4   68.29M      —     —    —
40  1980      PIT-LA Rams     PIT +12  CBS    46.3   76.24M      —     —    —
41  1979          PIT-DAL      PIT +4  NBC    47.1   74.74M      —     —    —
42  1978          DAL-DEN     DAL +17  CBS    47.2   78.94M      —     —    —
43  1977          OAK-MIN     OAK +18  NBC    44.4   62.05M      —     —    —
44  1976          PIT-DAL      PIT +4  CBS    42.3   57.71M      —     —    —
45  1975          PIT-MIN     PIT +10  NBC    42.4   56.05M      —     —    —
46  1974          MIA-MIN     MIA +17  CBS    41.6   51.70M      —     —    —
47  1973          MIA-WSH      MIA +7  NBC    42.7   53.32M      —     —    —
48  1972          DAL-MIA     DAL +21  CBS    44.2   56.64M      —     —    —
49  1971  BAL (Colts)-DAL      BAL +3  NBC    39.9   46.04M      —     —    —
50  1970           KC-MIN      KC +16  CBS    39.4   44.27M      —     —    —
51  1969  NYJ-BAL (Colts)      NYJ +9  NBC    36.0   41.66M      —     —    —
52  1968           GB-OAK      GB +19  CBS    36.8   39.12M      —     —    —
53  1967            GB-KC      GB +25  CBS    22.6   26.75M      —     —    —
54  1967            GB-KC      GB +25  NBC    18.5   24.43M      —     —    —

   A18-49
      Rtg    Vwrs
0    29.9  38.67M
1    31.0  39.95M
2    33.4  43.00M
3    37.1  47.62M
4    37.7  47.86M
5    39.1  49.71M
6    39.3  49.87M
7    39.7  50.22M
8    40.5  51.84M
9    39.9  52.48M
10   38.6  50.82M
11   36.7  48.45M
12   37.5  49.19M
13   35.2    n.a.
14   34.6  45.01M
15   33.2  43.14M
16   35.7  46.00M
17   36.4  46.86M
18   34.7    n.a.
19   35.8    n.a.
20   37.9    n.a.
21   36.4    n.a.
22   n.a.    n.a.
23   n.a.    n.a.
24   41.2    n.a.
25   n.a.    n.a.
26   n.a.    n.a.
27   n.a.    n.a.
28   n.a.    n.a.
29   n.a.    n.a.
30   n.a.    n.a.
31   n.a.    n.a.
32   n.a.    n.a.
33   n.a.    n.a.
34   n.a.    n.a.
35   n.a.    n.a.
36   n.a.    n.a.
37   n.a.    n.a.
38   n.a.    n.a.
39   n.a.    n.a.
40   n.a.    n.a.
41   n.a.    n.a.
42   n.a.    n.a.
43   n.a.    n.a.
44   n.a.    n.a.
45   n.a.    n.a.
46   n.a.    n.a.
47   n.a.    n.a.
48   n.a.    n.a.
49   n.a.    n.a.
50   n.a.    n.a.
51   n.a.    n.a.
52   n.a.    n.a.
53   n.a.    n.a.
54   n.a.    n.a.

## 2020 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2020/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'Old' / 'playerData2020.csv'
df['year'] = '2020'
df.to_csv (writepath, index = False, header=True)
df.head()

## 2019 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2019/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'Old' / 'playerData2019.csv'
df['year'] = '2019'
df.to_csv (writepath, index = False, header=True)
df.head()

## 2018 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2018/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'Old' / 'playerData2018.csv'
df['year'] = '2018'
df.to_csv (writepath, index = False, header=True)
df.head()

## 2017 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2017/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'Old' / 'playerData2017.csv'
df['year'] = '2017'
df.to_csv (writepath, index = False, header=True)
df.head()

## 2016 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2016/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'Old' / 'playerData2016.csv'
df['year'] = '2016'
df.to_csv (writepath, index = False, header=True)
df.head()

## 2015 Player Information (Fantasy) - Pro Football Reference

In [ ]:
url = 'https://www.pro-football-reference.com/years/2015/fantasy.htm'
df = pd.read_html(url)[0]
writepath = Path.cwd() / 'Old' / 'playerData2015.csv'
df['year'] = '2015'
df.to_csv (writepath, index = False, header=True)
df.head()